<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layout/templates/tennis-scoreboard.css">
    <title>Tennis Scoreboard Error</title>
    <style>
        button {
            font-size: 2rem;
            width: 100%;
            margin: 20px 0px;
            padding: 8px
        }
    </style>
</head>
<body class="main-content-holder scoreboard-text ts-primary-bg-color ts-txt-on-light-bg-color">
<div class="centering-flexbox" style="flex-direction: column; width: 100%; font-size: 3rem">
    <h1 class="scoreboard-text ts-txt-on-light-bg-color" style="font-size: 3rem">Tennis Scoreboard</h1>
    <div style="width: 500px; height: 300px; text-align: center">
        <a class="unmarked-link"
            href="/matches">
            <button class="ts-button ts-txt-on-dark-bg-color borderless" style="height: initial">
                See Matches
            </button>
    </a><br>
        <a class="unmarked-link"
            href="/new_match">
            <button class="ts-button ts-txt-on-dark-bg-color borderless" style="height: initial">
                Create New Match
            </button>
    </a>
</div>
</body>
</html>