{% from 'macros.jinja' import process_current_score, count_winner %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout/templates/tennis-scoreboard.css">
    <title>Match score</title>
</head>
<body class="ts-primary-bg-color">
    {% include 'nav.jinja' %}
    {% set score = response_data['score'] %}
    {% set match_id = response_data['match_id'] %}
    {% set p1_name = response_data['p1_name'] %}
    {% set p2_name = response_data['p2_name'] %}
    {% set winner = response_data['winner'] %}
    <div class="main-content-holder">
        <div class="centering-flexbox">
            <table class="scoreboard-itself scoreboard-text ts-scoreboard-bg-color ts-txt-on-dark-bg-color" style="font-size: 2rem">
                <tr class="ts-scoreboard-header-row">
                    <td class="player-name-cell ts-scoreboard-header"></td>
                    <td class="serve-indicator-cell"></td>
                    <td class="score-cell">Sets</td>
                    <td class="score-cell">Games</td>
                    {% if score.current_set.get('tiebreak') %}
                    <td class="score-cell">
                        <div class="centering-flexbox">
                            <div class="ts-tbreak-capture ts-tbreak-capture-bg-color ts-txt-tbreak-capture-color">
                                Tiebreak
                            </div>
                        </div>
                    </td>
                    {% else %}
                    <td class="score-cell">Current</td>
                    {% endif %}
                </tr>
                <tr class="player-score-row">
                    <td class="player-name-cell">
                        {{ p1_name }}
                    </td>
                    <td class="serve-indicator-cell">
                        {% if score.serve is eq(1) %}
                            <div class="centering-flexbox"><img src="layout/sources/tennis.png"></div>
                        {% endif %}
                    </td>
                    <td class="score-cell">{{ count_winner(score.sets, 1) }}</td>
                    <td class="score-cell">{{ count_winner(score.current_set.games, 1) }}</td>
                    <td class="score-cell">
                        <div class="centering-flexbox">
                            <div class="cur-game-score-cell">
                                {{ process_current_score(score.current_set.p1_gm_score, score.current_set.p2_gm_score, score.current_set.tiebreak) }}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="player-score-row">
                    <td class="player-name-cell">
                        {{ p2_name }}
                    </td>
                    <td class="serve-indicator-cell">
                        {% if score.serve is eq(2) %}
                            <div class="centering-flexbox"><img src="layout/sources/tennis.png"></div>
                        {% endif %}
                    </td>
                    <td class="score-cell">{{ count_winner(score.sets, 2) }}</td>
                    <td class="score-cell">{{ count_winner(score.current_set.games, 2) }}</td>
                    <td class="score-cell">
                        <div class="centering-flexbox">
                            <div class="cur-game-score-cell">
                                {{ process_current_score(score.current_set.p2_gm_score, score.current_set.p1_gm_score, score.current_set.tiebreak) }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table id="point-adder-appendix">
                <tr class="ts-scoreboard-header-row"><td class="player-name-cell"></td></tr>
                <tr class="player-score-row">
                    <td class="score-cell">
                        <form action={{ ['"/match_score?uuid=', match_id, '"']|join }} method="post">
                            <input type="hidden" name="point_winner" value="1">
                            <input type="submit" value="Add point" class="ts-button ts-txt-on-dark-bg-color borderless">
                        </form>
                    </td>
                </tr>
                <tr class="player-score-row">
                    <td class="score-cell">
                        <form action={{ ['"/match_score?uuid=', match_id, '"']|join }} method="post">
                            <input type="hidden" name="point_winner" value="2">
                            <input type="submit" value="Add point" class="ts-button ts-txt-on-dark-bg-color borderless">
                        </form>
                    </td>
                </tr>
                <tr></tr>
            </table>
    </div>

</body>
</html>
