<nav class="scoreboard-text ts-txt-on-dark-bg-color">
    <a class="nav-item" href="/"><p>Home</p></a>
    <a class="nav-item" href="/matches"><p>Matches</p></a>
    <a class="nav-item" href="/new_match"><p>New Match</p></a>
</nav>
