<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layout/templates/tennis-scoreboard.css">
    <title>Tennis Scoreboard Error</title>
</head>
<body class="main-content-holder">
    {% include 'nav.jinja' %}
    <div class="centering-flexbox" style="flex-direction: column">
        <div class="scoreboard-itself scoreboard-text ts-scoreboard-bg-color ts-txt-on-dark-bg-color" style="font-size: 2em">
            <div class="player-score-row">
                <div class="player-name-cell">{{ p1_name }}</div>
                <div class="serve-indicator-cell">
                </div>
                {% for _set in score.sets %}
                <div class="score-cell {{ 'set-winner-highlighting' if _set.winner is eq(1) }}">
                    {{ _set.games|map(attribute='winner')|select('eq', 1)|list|length }}
                </div>
                {% endfor %}
            </div>
            <div class="player-score-row">
                <div class="player-name-cell">{{ p2_name }}</div>
                <div class="serve-indicator-cell">
                </div>
                {% for _set in score.sets %}
                <div class="score-cell {{ 'set-winner-highlighting' if _set.winner is eq(2) }}">
                    {{ _set.games|map(attribute='winner')|select('eq', 2)|list|length }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="scoreboard-text" style="margin-top: 15px; text-align:center">
            Congratulations to {{ winner }}!&#127870&#128170&#x1F3C6
        </div>

    </div>
</body>
</html>